<div class="list-group">

    <a href="{% url 'news:home' %}" class="list-group-item list-group-item-action
    {% if cat_selected == 0 %} active {% endif %}"
       aria-current="true">Все категории</a>

    {% for category in categories %}
        <a href="{{ category.get_absolute_url }}"
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center
            {% if category.pk == cat_selected %} active {% endif %}">
            <span>{{ category.title }}</span>
            <span class="ml-auto">{{ category.news__count }}</span>
        </a>
    {% endfor %}

</div>