{% extends 'base.html' %}

{% block title %} {{ title }}{% endblock %}

{% block content %}
    <h1>Добавление новости</h1>

    <form action="{% url 'news:add_news' %}" method="post">
        {% csrf_token %}

        {% for f in form %}
            <div class="form-group">

                {% if f.errors %}
                    <div class="alert alert-danger alert-dismissible fade show p-2" role="alert">
                        {{ f.errors }}
                    </div>
                {% endif %}

                <label for="{{ f.content.id_for_label }}">{{ f.label_tag }} </label>
                {{ f }}

            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary btn-block">Добавить новость</button>
    </form>
{% endblock %}