{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

        {% for news in object_list %}
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between">
                    <div>Категория: <a href="{{ news.cat.get_absolute_url }}">{{ news.cat.title }}</a></div>
                    <div>Дата: {{ news.created_at|date:"Y-m-d H:i" }}</div>
                </div>
                <div class="card-body">
                    {% if news.photo %}
                        <img src="{{ news.photo.url }}" alt="photo about news" width="350" class="float-left mr-3">
                    {% endif %}
                    <h5 class="card-title">{{ news.title }}</h5>
                    <p class="card-text ">{{ news.content|truncatewords:100 }}</p>

                </div>
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="alert-light"> просмотров: {{ news.views }} </span>
                    <a href="{{ news.get_absolute_url }}" class="btn btn-primary ">Читать больше...</a>
                </div>
            </div>
        {% endfor %}

{% endblock %}
