<!-- Pagination -->
{% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                <a class="page-link" tabindex="-1" aria-disabled="true"
                   href="
                    {% if page_obj.has_previous %}
                    {% url 'news:paginator' page_obj.previous_page_number %}
                    {% endif %}">
                    Предыдущая
                </a>
            </li>

            {% for page in paginator.page_range %}
                {% if page_obj.number == page %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link">{{ page }}</a>
                    </li>
                {% elif page == 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'news:paginator' page %}">{{ page }}</a>
                    </li>
                {% elif page == paginator.num_pages %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'news:paginator' page %}">{{ page }}</a>
                    </li>
                {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'news:paginator' page %}">{{ page }}</a>
                    </li>
                {% elif page == page_obj.number|add:-3 and page > 2 %}
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                {% elif page == page_obj.number|add:3 and page < paginator.num_pages|add:-1 %}
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                {% endif %}
            {% endfor %}

            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                <a class="page-link"
                   href="
                        {% if page_obj.has_next %}
                        {% url 'news:paginator' page_obj.next_page_number %}
                        {% endif %}">
                    Следующая
                </a>
            </li>
        </ul>
    </nav>
{% endif %}