{% extends 'base.html' %}

{% block title %} {{ title }}{% endblock %}

{% block content %}

    {% if passwords|length > 1 %}

        <h1 class="text-center">Your passwords:</h1>
    {% else %}
        <h1 class="text-center">Your password:</h1>
    {% endif %}

    {% for password in passwords %}
        <div class="list-group">
            <a href="#"
               class="list-group-item list-group-item-action list-group-item-success text-center">
                {{ password }}
            </a>
        </div>
    {% endfor %}

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-dark my-1" type="button" onclick="location.reload()">generate another</button>
    </div>

{% endblock %}