{% extends 'base.html' %}

{% block title %} {{ title }}{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-auto">

                {% if passwords|length > 1 %}
                    <h1>Your passwords:</h1>
                {% else %}
                    <h1>Your password:</h1>
                {% endif %}
                {% for password in passwords %}
                    <div class="list-group">
                        <a href="#"
                           class="list-group-item list-group-item-action list-group-item-success text-center">
                            {{ password }}
                        </a>
                    </div>
                {% endfor %}
                <button type="button" class="btn btn-dark" style="float: right;" onclick="location.reload()">generate another</button>

            </div>
        </div>
    </div>
{% endblock %}